*.bat
make.bat
*.sh
make.sh
Makefile
*.exe
extract.exe
*.depend
*.layout
*.o
/[Ii][Ww]/
/[Ii][Ww]/*
./[Ii][Ww]/
./[Ii][Ww]/*
/[Oo]bj/
/[Oo]bj/*
./[Oo]bj/
./[Oo]bj/*
/[Bb]uild/
/[Bb]uild/*
./[Bb]uild/
./[Bb]uild/*
/[Bb]in/
/[Bb]in/*
./[Bb]in/
./[Bb]in/*
